<header>
  <nav class='navbar navbar-expand-lg navigation navbar-light bg-light'>
    <a class='navbar-brand' href='/'>
      PT Exam
    </a>
    <button class='navbar-toggler' data-toggle='collapse' data-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ml-auto main-nav align-items-center'>
        <li class='nav-item dropdown dropdown-slide'>
          <a href='#' class='nav-link dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            学習する
          </a>

          <div class='dropdown-menu dropdown-menu-right'>
            <a class='dropdown-item' href='#'>基礎医学</a>
            <a class='dropdown-item' href='#'>臨床医学</a>
            <a class='dropdown-item' href='#'>基礎理学療法学</a>
            <a class='dropdown-item' href='#'>障害別理学療法治療学</a>
          </div>
        </li>

        <li class='nav-item dropdown dropdown-slide'>
          <a href='#' class='nav-link dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            過去問
          </a>

          <div class='dropdown-menu dropdown-menu-right'>
            <a class='dropdown-item' href='#'>第31回</a>
            <a class='dropdown-item' href='#'>第32回</a>
            <a class='dropdown-item' href='#'>第33回</a>
            <a class='dropdown-item' href='#'>第34回</a>
          </div>
        </li>

        <li class='nav-item'>
          <a href='#' class='nav-link' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            成績
          </a>
        </li>

        <li class='nav-item'>
          <a href='#' class='nav-link' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            対策問題
          </a>
        </li>

        <li class='nav-item dropdown dropdown-slide'>
          <a href='#' class='nav-link' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' id='header-profile'>
            <%= image_tag 'sample', size: '40x40', class: 'rounded-circle mr15'%>
          </a>
          <div class='dropdown-menu dropdown-menu-right'>
            <div class='dropdown-item'>らんてっく たろう</div>
            <div class='dropdown-divider'></div>
            <%= link_to 'プロフィール', '#', class: 'dropdown-item' %>
            <%= link_to (t 'defaults.logout'), logout_path, class: 'dropdown-item', method: :delete %>
          </div>
        </li>
      </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
